body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: palevioletred;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

i {
    color: sandybrown;
    right: 10px;
    position: absolute;
}

#pswrd {
    width: 100%;
    background-color: transparent;
}

#container {
    padding: 40px;
    width: 90%;
    max-width: 400px;
    background-color: pink;
    border-radius: 30px;
    box-sizing: border-box;
}

#ccd {
    width: 100%;
}

#input_container {
    border: solid 2px black;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

input {
    border: transparent;
    outline: none;
    letter-spacing: 4px;
    width: 100%;
}

input::placeholder {
    letter-spacing: 0px;
}

#btn {
    border: none;
    border-radius: 20px;
    background-color: rgb(150, 49, 244);
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    margin-top: 10px;
}

#btn:hover {
    background-color: rgb(189, 56, 187);
}

#btn:active {
    transform: scale(0.80);
}

.alert_container {
    position: fixed;
    width: 200px;
    height: 100px;
    background-color: green;
    right: -300px;
    bottom: 20px;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active.alert_container {
    margin-right: 20px;
}